.click {
	width: 140px;
}

.table-new {
	width: 647px;
}

.input-field-head,
.input-field,
.input-row {
	border: none;
}

.input-field {
	margin-right: 4px;
	margin-left: 1px;
}

.div-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn,
.btn-save {
	margin-left: 9px;
    margin-top: 4px;
	margin-bottom: 4px;
	width: 60px;
	height: 18px;
}

.btn-save {
	background-color: green;
	margin-top: 5px;
	margin-left: 40px;
}

.btn-add {
	margin-left: 40px;
	color: red;
}

  .hidden {
    display: none;
}

.input-back-color {
	margin-right: 4px;
	margin-left: 1px;
	background-color: rgb(197, 193, 193);
	border: none;
}

input:disabled {
    color: black;
   	background-color: white;
}
