.click {
	width: 140px;
}

.row-height {
	height: 30px;
}

.input-field-head,
.input-field,
.input-row {
	border: none;
}

.div-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn,
.btn-save {
	margin-left: 5px;
	margin-right: 5px;
	width: 60px;
	height: 18px;
	color: red;
}

.btn-save {
	background-color: green;
	margin-top: 5px;
	margin-left: 40px;
}

.btn-add {
	margin-left: 40px;
}

  .hidden {
    display: none;
}

/* ::ng-deep input:disabled {
	background-color: white !important; 
} */